/bin/
/.sts4-cache/
.settings/
.project
.metadata/
.externalToolBuilders
.recommenders
.factorypath
*.factorypath
.idea/
.iml
*.iml
.ipr
*.ipr
.iws
*.iws
/logs/
/data/_ndvi.tif
/build/
/dist/
.spec
*.spec
.pyc
*.pyc
*.jpg
*.tif
*.PNG

